# dependencies
**/node_modules
/.pnp
.pnp.js

# VS Code
.vscode/settings.json

# Build files
*.min.js
*.min.css
sw.js
*.js.map
*.min.json

# Server files
.htaccess

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode

# workbox
workbox-config.js

# Ignore minified files
*.min.*